.register{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.register-title{
  font-size: 50px;
}

.register-form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.register-form > label{
  margin: 10px 0;
}

.register-form > input {
  padding: 10px;
  background-color: white;
  border: none;
}

.register-form > input:focus{
  outline: none;
}

.register-submit{
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.register-login{
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}